/* Section hiding standard radio buttons and replacing with styled bigger ones */
.radio-button-container {
  margin: 0 20px;
  // background: pink;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-radio-button {
  position: absolute;
  left: 0;
  padding: 20px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #55cced;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #5e6263;
}
.radio-button-container:hover input ~ .custom-radio-button {
    background-color: #15bcea;
}
.radio-button-container input:checked ~ .custom-radio-button {
    background-color: #396C99;
    box-shadow: 0 5px #4b4e4f;
    transform: translateY(4px);
}
