.sequenser-container {
  // background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading {
  font-family: "Retro";
  color: #FFF;
  margin-top: 30px;
}

.songDetails {
  color: #FFF;
  margin: 10px;
  color: orange;
}
.synth-container {
  margin-right: 30px;
  &:hover {
    cursor: pointer;
  }
}
.drums-container {
  margin-right: 30px;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.barIndicator {
  margin-bottom: 60px;
  height: 20px;
  // border-radius: 10px;
  color: black;
  background: darkgrey;

  &--active {
    color: #FFF;
  }
}

.noteBox {
  background: lightgrey;
  width: 30px;
  height: 20px;
  // border-radius: 15px;
  &:hover {
    // background: #f5f7b2;
    background: #f4f4cd;
  }
  &--active {
    background: #FFA400;
    &:hover {
      background: #fcd797;
    }
  }
}

.beatBox {
  background: lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  &:hover {
    background: #f5f7b2;
  }
  &--active {
    background: lightgreen;
    &:hover {
      background: #c9fcca;
    }
  }
}

.meters {
  background: lightblue;
  margin: 10px;
  width: 400px;
}

.waveFormSetting-container {
  padding: 10px;
  background: darkgrey;
}

.drumIcon {
  width: 30px;
}
