.sequenser-container {
  // background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.synth-container {
  &:hover {
    cursor: pointer;
  }
}
.drums-container {
  display: flex;
  justify-content: center;
  margin: auto;

  &:hover {
    cursor: pointer;
  }
}

.barIndicator {
  margin-bottom: 60px;
  height: 20px;
  // border-radius: 10px;
  color: black;
  background: darkgrey;

  &--active {
    color: #FFF;
  }
}

.noteBox {
  background: lightgrey;
  width: 30px;
  height: 20px;
  // border-radius: 15px;

  &--active {
    background: orange;
  }
}

.beatBox {
  background: lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 15px;

  &--active {
    background: lightgreen;
  }
}

.meters {
  // background: lightblue;
  color: lightgrey;
  width: 400px;
}
