.sequenser-container {
  // background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drums-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.barIndicator {
  margin-bottom: 60px;
  height: 20px;
  // border-radius: 10px;
  color: black;
  background: darkgrey;

  &--active {
    color: #FFF;
  }
}

.noteBox {
  background: lightgrey;
  width: 50px;
  height: 50px;
  border-radius: 25px;

  &--active {
    background: green;
  }
}

.meters {
  // background: lightblue;
  color: lightgrey;
  width: 400px;
}
