.composerPage-headline {
  font-family: "Retro";
  text-align: center;
  font-size: 50px;
  color: #FFF;
  margin: 30px 0 0 0;

  &--saveLoad {
    margin-top: 0px;
    margin-right: 20px;
  }
}

.page-wrapper--composerPage {
  margin: 0 auto;
  text-align: center;
}

.highlighted {
  color: #E87FFC;
}
