.composerPage-headline {
  font-family: "Retro";
  text-align: center;
  // margin-top: 100px;
  font-size: 50px;
  color: #FFF;
  margin: 30px 0 0 0;
}

.page-wrapper--composerPage {
  // width: 400px;
  margin: 0 auto;
  text-align: center;
}

.highlighted {
  color: #E87FFC;
  // color: #FFA400;
}
