@font-face {
  font-family: "Retro";
  src: url("./fonts/retro/unscii-16-webfont.woff");
  src: url("./fonts/retro/unscii-16-webfont.woff2");
}

.body {
  font-family: "Retro";
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #272727;
}

.tableRowExplainer {
  min-height: 22px;
  color: #FFF;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--bars {
    background: none;
  }
  &--synth {
    // background: blue;
  }
  &--drums {
    // background: yellow;
  }
}

@media screen and (max-width: 1150px) {
  // media queries
}
