.header-container {
  font-family: "Retro";
  background: lightgreen;
  display: flex;
  justify-content: center;
}
.nav-container {
  display: flex;
  align-items: center;
  margin: 0px 40px;
}
.menuItem {
  margin: 20px;
}
