.page-wrapper--saveLoad {
  width: 1200px;
  margin: 0 25px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;

}

.saveForm-container {
  width: 610px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: lightgrey;
}

.formInput {
  display: block;

  &__field {
    margin: 5px 0;
  }

  &__button {
    width: 100%;
    margin: 5px 0;
  }

  &__select {
    width: 130px;
    margin: 5px 0;
  }
}

.loadForm-container {
  // margin-top: 20px;
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: lightgrey;
}
